---
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Stats from '../components/Stats.astro';
---

<Layout title="Portafolio - Diseño de Páginas Web">
  <!-- Breadcrumb Section -->
  <Breadcrumb 
    title="Nuestro Portafolio" 
    currentPage="Portafolio"
    bgImage="/assets/img/bg-img/bg-title.webp"
  />

  <!-- Portfolio Section -->
  <section class="section-padding pb-5">
    <div class="divider"></div>
    <div class="container-fluid px-4">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="section-heading">
            <h2>Proyectos Destacados</h2>
            <p>Descubre algunos de nuestros mejores trabajos en diseño web y desarrollo para empresas chilenas.</p>
          </div>
        </div>
      </div>
      
      <div class="row mt-5 portfolio-grid">
        <!-- Dr. Ejuvenece -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/drejuvenece.webp" alt="Clínica estética Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Dr. Ejuvenece</h5>
                  <p>Diseño página Clínica estética</p>
                  <a href="https://drejuvenece.cl" target="_blank" class="portfolio-link">www.drejuvenece.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Puerto de Hielo -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/puertodehielo.webp" alt="Diseño web Refrigeración industrial y comercial" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Puerto de Hielo</h5>
                  <p>Diseño página Refrigeración industrial</p>
                  <a href="https://puertodehielo.cl" target="_blank" class="portfolio-link">www.puertodehielo.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- RSM Tye -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/rsmtye.webp" alt="Diseño web Abogados Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>RSM Jurídicos</h5>
                  <p>Diseño web Abogados Chile</p>
                  <a href="https://rsmtye.cl" target="_blank" class="portfolio-link">www.rsmtye.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Arqueo Cat -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/arqueocat.webp" alt="Arqueocat - Servicios arqueológicos profesionales" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Diseño web Arqueocat</h5>
                  <p>Diseño de página para Arqueologa</p>
                  <a href="https://arqueocat.cl" target="_blank" class="portfolio-link">www.arqueocat.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Sergenspa.cl -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/sergenspa.webp" alt="Sergenspa - Servios Ingeniería empresas" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Sergenspa</h5>
                  <p>Empresa de Fabricación hormigon</p>
                  <a href="https://sergenspa.cl" target="_blank" class="portfolio-link">www.sergenspa.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Comercialaysen.cl -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/comercialaysen.webp" alt="Comercial Aysen - Proteina carnes" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Comercialaysen</h5>
                  <p>Web Fabrica de proteina de carnes</p>
                  <a href="https://comercialaysen.cl" target="_blank" class="portfolio-link">www.comercialaysen.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Roman Service -->
         <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/romanservice.webp" alt="Páginas web Montaje agroindustrial" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Roman Service</h5>
                  <p>Web Montajes Agroindustriales</p>
                  <a href="https://romanservice.cl" target="_blank" class="portfolio-link">www.romanservice.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Constructoratresh -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/constructoratresh.webp" alt="Constructoratresh - Web para constructoras" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Constructora Tresh</h5>
                  <p>Página web Empresa de construcción</p>
                  <a href="https://constructoratresh.cl" target="_blank" class="portfolio-link">www.constructoratresh.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Coligues -->
         <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/coligues-ch.webp" alt="Diseño web coligues Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Coligues</h5>
                  <p>Página web Venta de coligues y polines madera</p>
                  <a href="https://coligueschile.cl/" target="_blank" class="portfolio-link">www.coligueschile.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Banquetería -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/banqueteria-ch.webp" alt="Página web Banquetería" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Banquetería</h5>
                  <p>Página web Servicios de Banqueteria y eventos</p>
                  <a href="https://banqueteriarv.cl/" target="_blank" class="portfolio-link">www.banqueteriarv.cl (2018)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Pasteles Delicia -->
         <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/pastelesdelicia-ch.webp" alt="Diseño web Cursos de Pastelería" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Pasteles Delicia</h5>
                  <p>Página web Cursos de Pastelería</p>
                  <a href="https://pastelesdelicia.com" target="_blank" class="portfolio-link">www.pastelesdelicia.com (2016)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Hielos Sur -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hielos-sur.webp" alt="Diseño Mobiliario Santiago" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Mobiliario Urbano - Diseño y Construcción e instalacion</h5>
                  <p>Sitio web Mobiliario urbano</p>
                  <a href="https://hielosdelsur.cl/" target="_blank" class="portfolio-link">www.hielosdelsur.cl (2020)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Hem Maquinaria -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hemmaquinaria.webp" alt="Diseño web - Arriendo de equipos" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Diseño web Hem Maquinaria</h5>
                  <p>Arriendo de camiones y maquinaria</p>
                  <a href="https://hemmaquinaria.cl" target="_blank" class="portfolio-link">www.hemmaquinaria.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Ortodoncia Para Todos -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/ortodonciaparatodos.webp" alt="Web dentistas de Ortodoncia" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Ortodoncia Para Todos</h5>
                  <p>Diseño web Clínica dental</p>
                  <a href="https://ortodonciaparatodos.cl" target="_blank" class="portfolio-link">www.ortodonciaparatodos.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Hidro Casas -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hidrocasas.webp" alt="Diseño web empresa de Lavado de casas" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Hidro Casas - Diseño web</h5>
                  <p>Empresa de construcción</p>
                  <a href="https://hidrocasas.cl" target="_blank" class="portfolio-link">www.hidrocasas.cl (2019)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Gonzalo Toro Propiedades -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/gonzalotoropropiedades.webp" alt="Diseño web para propiedades" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Gonzalo Toro Propiedades</h5>
                  <p>Portal inmobiliario</p>
                  <a href="https://gonzalotoropropiedades.cl" target="_blank" class="portfolio-link">www.gonzalotoropropiedades.cl (2020)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Damary -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/damary.webp" alt="Diseño web Inmobiliaria La Serena" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Damary</h5>
                  <p>Empresa de servicios</p>
                  <a href="https://www.damarypropiedades.cl/" target="_blank" class="portfolio-link">www.damarypropiedades.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Kofluir -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/kofluir.webp" alt="Diseño web Psicología Valdivia" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Kofluir</h5>
                  <p>Psicología terapias Valdivia</p>
                  <a href="https://kofluir.cl" target="_blank" class="portfolio-link">www.kofluir.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Mebcarq -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/mebcarq.webp" alt="Páginas web Arquitectura Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Mebcarq</h5>
                  <p>Empresa de arquitectura</p>
                  <a href="https://mebcarq.cl" target="_blank" class="portfolio-link">www.mebcarq.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Centro Impúlsate -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/centroimpulsate.webp" alt="Centro Impúlsate - Centro de desarrollo personal" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Centro Impúlsate</h5>
                  <p>Centro de desarrollo personal</p>
                  <a href="https://centroimpulsate.cl" target="_blank" class="portfolio-link">www.centroimpulsate.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Seguridadsjs -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/seguridadsjs.webp" alt="Diseño web Seguridad Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Diseño web para empresa de seguridad</h5>
                  <p>Empresa de seguridad SJS</p>
                  <a href="https://seguridadsjs.cl/" target="_blank" class="portfolio-link">www.seguridadsj.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Serachile -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/serachile.webp" alt="Sera Chile product para peces y acuarios" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Serachile</h5>
                  <p>Empresa de servicios</p>
                  <a href="https://serachile.cl" target="_blank" class="portfolio-link">www.serachile.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Endodonciatemuco -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/endodonciatemuco.webp" alt="Endodoncia Temuco Sociedad Dentistas" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Endodonciatemuco</h5>
                  <p>Clínica dental</p>
                  <a href="https://endodonciatemuco.cl" target="_blank" class="portfolio-link">www.endodonciatemuco.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Asesordeinsolvencia -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/asesordeinsolvencia.webp" alt="Asesor de Insolvencia Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Asesor de Insolvencia</h5>
                  <p>Empresa de insolvencia</p>
                  <a href="https://asesordeinsolvencia.cl" target="_blank" class="portfolio-link">www.asesordeinsolvencia.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Atlc.cl -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/atlc.webp" alt="Diseño web Consultoria y Asesoría Tributaria" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>ATLC</h5>
                  <p>Agencia de turismo y comercio</p>
                  <a href="https://atlc.cl" target="_blank" class="portfolio-link">www.atlc.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Ceromultas.cl -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/ceromultas.webp" alt="Los diseños web para Asesorías empresa" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Ceromultas</h5>
                  <p>Empresa de cerámica</p>
                  <a href="https://ceromultas.cl" target="_blank" class="portfolio-link">www.ceromultas.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Opticacity.cl -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/opticacity.webp" alt="Diseño web Optica" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Opticacity</h5>
                  <p>Diseño web para Optica city chile</p>
                  <a href="https://opticacity.cl" target="_blank" class="portfolio-link">www.opticacity.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>

       <!-- sle -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/sle.webp" alt="Diseño web para Abogados y auditores" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>SLE</h5>
                 <p>Diseño web para SLE</p>
                 <a href="https://sle.cl" target="_blank" class="portfolio-link">www.sle.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- Deliciasmimo.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/deliciasmimo.webp" alt="Diseño web para Deliciasmimo" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Deliciasmimo</h5>
                 <p>Diseño web para Pastelería</p>
                 <a href="https://deliciasmimo.cl" target="_blank" class="portfolio-link">www.deliciasmimo.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- acasalud.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/acasalud.webp" alt="Diseño web para Acasalud" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Acasalud</h5>
                 <p>Diseño web para Capacitación Salud</p>
                 <a href="https://acasalud.cl" target="_blank" class="portfolio-link">www.acasalud.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- Corrotek.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/corrotek.webp" alt="Diseño web para Corrotek" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Corrotek (revisar)</h5>
                 <p>Diseño web para Corrotek</p>
                 <a href="https://corrotek.cl" target="_blank" class="portfolio-link">www.corrotek.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- Royalsoccer.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/royalsoccer.webp" alt="Royalsoccer Eventos de fútbol" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Royalsoccer</h5>
                 <p>Diseño web para Futbol y deportes</p>
                 <a href="https://royalsoccer.cl" target="_blank" class="portfolio-link">www.royalsoccer.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- Propiedadescarolina.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/propiedades-carolina.webp" alt="Propiedadescarolina.cl" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Propiedadescarolina</h5>
                 <p>Páginas web para corredora de propiedades</p>
                 <a href="https://propiedadescarolina.cl" target="_blank" class="portfolio-link">www.propiedadescarolina.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- Proambiental.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/proambientalchile.webp" alt="diseño web Proambiental.cl" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Proambiental</h5>
                 <p>Páginas web para Proambiental.cl</p>
                 <a href="https://proambientalchile.cl" target="_blank" class="portfolio-link">www.proambientalchile.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- lapaisajismo.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/lapaisajismo.webp" alt="diseño web para Paisajismo" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Lapaisajismo</h5>
                 <p>Páginas web para lapaisajismo.cl</p>
                 <a href="https://lapaisajismo.cl" target="_blank" class="portfolio-link">www.lapaisajismo.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- apurolegal.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/apurolegal.webp" alt="diseño web para Abogados" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Apurolegal</h5>
                 <p>Páginas web para Abogados</p>
                 <a href="https://apurolegal.cl" target="_blank" class="portfolio-link">www.apurolegal.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- animaldoc.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/animaldoc.webp" alt="diseño web para veterinaria" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Animaldoc</h5>
                 <p>Páginas web para Veterinaria</p>
                 <a href="https://animaldoc.cl" target="_blank" class="portfolio-link">www.animaldoc.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <!-- comprobe.cl -->
       <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
         <div class="portfolio-card">
           <div class="portfolio-img">
             <img src="/assets/img/portafolio/comprobe.webp" alt="Comprobe - Servicios para la minería" class="img-fluid">
             <div class="portfolio-overlay">
               <div class="portfolio-content">
                 <h5>Comprobe</h5>
                 <p>Páginas web servicios minería</p>
                 <a href="https://comprobe.cl" target="_blank" class="portfolio-link">www.comprobe.cl (2024)</a>
               </div>
             </div>
           </div>
         </div>
       </div>

      <!--  Constructorazteca.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/constructorazteca.webp" alt="Constructorazteca - Constructora Chiloe" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Constructorazteca</h5>
                <p>Páginas web empresa constructora</p>
                <a href="https://constructorazteca.cl" target="_blank" class="portfolio-link">www.constructorazteca.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Venedent.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/venedent.webp" alt="Venedent - Clinica dental Chile" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Venedent</h5>
                <p>Páginas web Clinica dental </p>
                <a href="https://venedent.cl" target="_blank" class="portfolio-link">www.venedent.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- wps.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/wps.webp" alt=" Tuberias de Pipeline y Estaciones " class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>WPS Pipelines</h5>    
                <p> Web para Tuberias de Pipeline y Estaciones</p>
                <a href="https://wps.cl" target="_blank" class="portfolio-link">www.wps.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- AMW.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/amw.webp" alt=" AMW.cl " class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>AMW.cl Certified forest
                  </h5>    
                <p> Web para AMW.cl Certified forest</p>
                <a href="https://amw.cl" target="_blank" class="portfolio-link">www.amw.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- reservaelchequen.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/reservaelchequen.webp" alt=" reservaelchequen.cl " class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>reservaelchequen.cl</h5>    
                <p> Web para reservaelchequen.cl</p>
                <a href="https://reservaelchequen.cl/mantenimiento.html" target="_blank" class="portfolio-link">www.reservaelchequen.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- jcspropiedades.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/jcspropiedades.webp" alt=" jcspropiedades.cl " class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Propiedades Chile</h5>    
                <p> Web para Corredora de propiedades</p>
                <a href="https://jcspropiedades.cl" target="_blank" class="portfolio-link">www.jcspropiedades.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- bestproperty.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/bestproperty.webp" alt="BestProperty web propiedades " class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Best Property pagina web propiedades</h5>    
                <p> Web para Best Property</p>
                <a href="https://diseñopaginas.cl/besproperty/" target="_blank" class="portfolio-link">www.bestproperty.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- bordoliabogados.cl/ -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/bordoliabogados.webp" alt="Bordoli Abogados" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Bordoli abogados</h5>
                <p>Diseño web Abogados en chile</p>
                <a href="https://bordoliabogados.cl" target="_blank" class="portfolio-link">www.bordoliabogados.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- https://ingenieriamym.cl/ -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/ingenieriamym.webp" alt="Ingeniería MyM" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Ingeniería MyM</h5>
                <p>Diseño web Ingeniería </p>
                <a href="https://ingenieriamym.cl" target="_blank" class="portfolio-link">www.ingenieriamym.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- metaperitaje.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/metaperitaje.webp" alt="Metaperitaje" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Metaperitaje</h5>
                <p>Diseño web Metaperitaje</p>
                <a href="https://metaperitaje.cl" target="_blank" class="portfolio-link">www.metaperitaje.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- myvending.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/myvending.webp" alt="MyVending Venta de maquinas Vending" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>MyVending</h5>
                <p>Diseño web venta Maquinas Vending</p>
                <a href="https://myvending.cl" target="_blank" class="portfolio-link">www.myvending.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- laboralma.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/laboralma.webp" alt="Laboralma psicologos para empresas" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Laboralma</h5>
                <p>Diseño web psicologos para empresas</p>
                <a href="https://laboralma.cl" target="_blank" class="portfolio-link">www.laboralma.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- opcioninmobiliaria.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/opcioninmobiliaria.webp" alt="Opcion Inmobiliaria Propiedades" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Opcion Inmobiliaria</h5>
                <p>Diseño web para Corredora de Propiedades</p>
                <a href="https://opcioninmobiliaria.cl" target="_blank" class="portfolio-link">www.opcioninmobiliaria.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- maxop.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/maxop.webp" alt="Maxop - Proyectos electricos" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Sitio web Proyectos electricos</h5>
                <p> proyectos eléctricos en BT y MT </p>
                <a href="https://maxop.cl" target="_blank" class="portfolio-link">www.maxop.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- nelparts.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/nelparts.webp" alt="Nelparts - Repuestos para camion" class="img-fluid">
          </div>
          <div class="portfolio-overlay">
            <div class="portfolio-content">
              <h5>Web Repuestos Camiones</h5>
              <p>Diseño web Nelparts</p>
              <a href="https://nelparts.cl" target="_blank" class="portfolio-link">www.nelparts.cl (2025)</a>
            </div>
          </div>
        </div> 
      </div>

      <!-- seguroscancino.cl -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/enconstruccion.webp" alt="Empresa de seguros Scancino" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Seguro Scancino</h5>
                <p>Diseño web para empresa de seguros </p>
                <a href="https://seguroscancino.cl" target="_blank" class="portfolio-link">www.seguroscancino.cl (2025)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- rangiantu.com -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/enconstruccion.webp" alt="Rangiantu Tensoestructuras" class="img-fluid">
          </div>
          <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Empresa Rangiantu</h5>
                <p>Diseño web para Rangiantu Tensoestructuras</p>
                <a href="https://rangiantu.com" target="_blank" class="portfolio-link">www.rangiantu.com (2025)</a>
              </div>
            </div>
        </div>
      </div>

      <!-- asesorialimentos.cl  -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/enconstruccion.webp" alt="Diseño web para Asesoría de alimentos" class="img-fluid">
            <div class="portfolio-overlay">
              <div class="portfolio-content">
                <h5>Asesoría de alimentos</h5>
                <p>Asesoría de alimentos</p>
                <a href="https://asesorialimentos.cl" target="_blank" class="portfolio-link">www.asesorialimentos.cl (2024)</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- https://www.mcarvalho.cl/ -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/enconstruccion.webp" alt="Diseño web para MCarvalho" class="img-fluid">
          </div>
          <div class="portfolio-overlay">
            <div class="portfolio-content">
              <h5>Air Mobile Chile</h5>
              <p>Diseño web para Calefacción de Vehículos</p>
              <a href="https://airmobilechile.cl/" target="_blank" class="portfolio-link">www.airmobilechile.cl (2025)</a>
            </div>
          </div>
        </div> 
      </div>

      <!-- https://www.mcarvalho.cl/ -->
      <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-card">
          <div class="portfolio-img">
            <img src="/assets/img/portafolio/enconstruccion.webp" alt="Diseño web para MCarvalho" class="img-fluid">
          </div>
          <div class="portfolio-overlay">
            <div class="portfolio-content">
              <h5>Michelle Carvalho</h5>
              <p>Diseño web para Influencer</p>
              <a href="https://www.mcarvalho.cl" target="_blank" class="portfolio-link">www.mcarvalho.cl (2025)</a>
            </div>
          </div>
        </div> 
      </div>
      
       
        <!-- Sergen Spa -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/enconstruccion.webp" alt="Diseño Servicios Ingeniería empresas" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Sergen Spa</h5>
                  <p>Spa y centro de belleza</p>
                  <a href="https://sergenspa.cl" target="_blank" class="portfolio-link">www.sergenspa.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        </div>
    </div>
  </section>

 
</Layout>

<style>
  .portfolio-grid {
    margin: 0 -12px; /* Compensar el padding de los items */
  }
  
  .portfolio-item {
    padding: 0 12px; /* 24px entre columnas (12px a cada lado) */
    margin-bottom: 28px; /* 28px entre filas */
  }
  
  .portfolio-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px);
  }
  
  .portfolio-card:hover img {
    transform: scale(1.03);
  }
  
  .portfolio-img {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 200px; /* Altura mínima para mantener consistencia */
  }
  
  .portfolio-img img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #95e3ebe0; /* Color #aef8ff con transparencia */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-card:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-content {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .portfolio-content h5 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .portfolio-content p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  
  .portfolio-link {
    color: #0066cc;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .portfolio-link:hover {
    color: #f0f0f0;
    text-decoration: none;
    transform: scale(1.05);
  }
</style>
