---
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Stats from '../components/Stats.astro';
---

<Layout title="Portafolio - Diseño de Páginas Web">
  <!-- Breadcrumb Section -->
  <Breadcrumb 
    title="Nuestro Portafolio" 
    currentPage="Portafolio"
    bgImage="/assets/img/bg-img/bg-title.webp"
  />

  <!-- Portfolio Section -->
  <section class="section-padding">
    <div class="divider"></div>
    <div class="container-fluid px-4">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="section-heading">
            <h2>Proyectos Destacados</h2>
            <p>Descubre algunos de nuestros mejores trabajos en diseño web y desarrollo para empresas chilenas.</p>
          </div>
        </div>
      </div>
      
      <div class="row mt-5 portfolio-grid">
        <!-- Dr. Ejuvenece -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/drejuvenece.webp" alt="Diseño web Clínica Estética Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Dr. Ejuvenece</h5>
                  <p>Clínica estética</p>
                  <a href="https://drejuvenece.cl" target="_blank" class="portfolio-link">www.drejuvenece.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Arqueo Cat -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/arqueocat.webp" alt="Diseño web Arqueología Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Arqueo Cat</h5>
                  <p>Empresa de arqueología</p>
                  <a href="https://arqueocat.cl" target="_blank" class="portfolio-link">www.arqueocat.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- RSM Tye -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/rsmtye.webp" alt="Diseño web Abogados Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>RSM Jurídicos</h5>
                  <p>Empresa de Products Salmón</p>
                  <a href="https://rsmtye.cl" target="_blank" class="portfolio-link">www.rsmtye.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Puerto de Hielo -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/puertodehielo.webp" alt="Diseño web Refrigeración Industrial Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Puerto de Hielo</h5>
                  <p>Refrigeración industrial</p>
                  <a href="https://puertodehielo.cl" target="_blank" class="portfolio-link">www.puertodehielo.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Hem Maquinaria -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hemmaquinaria.webp" alt="Diseño web Arriendo Camiones Maquinaria Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Hem Maquinaria</h5>
                  <p>Arriendo de camiones y maquinaria</p>
                  <a href="https://hemmaquinaria.cl" target="_blank" class="portfolio-link">www.hemmaquinaria.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Ortodoncia Para Todos -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/ortodonciaparatodos.webp" alt="Diseño web Clínica Dental Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Ortodoncia Para Todos</h5>
                  <p>Clínica dental</p>
                  <a href="https://ortodonciaparatodos.cl" target="_blank" class="portfolio-link">www.ortodonciaparatodos.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Hidro Casas -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hidrocasas.webp" alt="Diseño web Construcción Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Hidro Casas</h5>
                  <p>Empresa de construcción</p>
                  <a href="https://hidrocasas.cl" target="_blank" class="portfolio-link">www.hidrocasas.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Gonzalo Toro Propiedades -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/gonzalotoropropiedades.webp" alt="Diseño web Inmobiliaria Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Gonzalo Toro Propiedades</h5>
                  <p>Portal inmobiliario</p>
                  <a href="https://gonzalotoropropiedades.cl" target="_blank" class="portfolio-link">www.gonzalotoropropiedades.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Kofluir -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/kofluir.webp" alt="Diseño web Psicología Valdivia" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Kofluir</h5>
                  <p>Psicología terapias Valdivia</p>
                  <a href="https://kofluir.cl" target="_blank" class="portfolio-link">www.kofluir.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Mebcarq -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/mebcarq.webp" alt="Diseño web Arquitectura Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Mebcarq</h5>
                  <p>Empresa de arquitectura</p>
                  <a href="https://mebcarq.cl" target="_blank" class="btn btn-primary">www.mebcarq.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Damary -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/damary.webp" alt="Diseño web Servicios Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Damary</h5>
                  <p>Empresa de servicios</p>
                  <a href="https://damary.cl" target="_blank" class="btn btn-primary">www.damary.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Centro Impúlsate -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/centroimpulsate.webp" alt="Diseño web Desarrollo Personal Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Centro Impúlsate</h5>
                  <p>Centro de desarrollo personal</p>
                  <a href="https://centroimpulsate.cl" target="_blank" class="btn btn-primary">www.centroimpulsate.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Coligues -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/coligues-ch.webp" alt="Diseño web Servicios Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Coligues</h5>
                  <p>Empresa de servicios</p>
                  <a href="https://coligues.cl" target="_blank" class="btn btn-primary">www.coligues.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Banquetería -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/banqueteria-ch.webp" alt="Diseño web Eventos Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Banquetería</h5>
                  <p>Servicios de eventos</p>
                  <a href="https://banqueteria.cl" target="_blank" class="btn btn-primary">www.banqueteria.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Pasteles Delicia -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/pastelesdelicia-ch.webp" alt="Diseño web Pastelería Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Pasteles Delicia</h5>
                  <p>Pastelería</p>
                  <a href="https://pastelesdelicia.cl" target="_blank" class="btn btn-primary">www.pastelesdelicia.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Hielos Sur -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/hielos-sur.webp" alt="Diseño web Hielo Sur Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Hielos Sur</h5>
                  <p>Empresa de hielo sur</p>
                  <a href="https://hielossur.cl" target="_blank" class="btn btn-primary">www.hielossur.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Sergen Spa -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/sergenspa.webp" alt="Diseño web Spa Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Sergen Spa</h5>
                  <p>Spa y centro de belleza</p>
                  <a href="https://sergenspa.cl" target="_blank" class="btn btn-primary">www.sergenspa.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Roman Service -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/romanservice.webp" alt="Diseño web Servicios Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Roman Service</h5>
                  <p>Empresa de servicios</p>
                  <a href="https://romanservice.cl" target="_blank" class="btn btn-primary">www.romanservice.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Constructor Atres -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/constructoratresh.webp" alt="Diseño web Constructor Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Constructor Atres</h5>
                  <p>Empresa de construcción</p>
                  <a href="https://constructoratres.cl" target="_blank" class="btn btn-primary">www.constructoratres.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Comercial Aysen -->
        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-card">
            <div class="portfolio-img">
              <img src="/assets/img/portafolio/comercialaysen.webp" alt="Diseño web Comercio Regional Chile" class="img-fluid">
              <div class="portfolio-overlay">
                <div class="portfolio-content">
                  <h5>Comercial Aysen</h5>
                  <p>Comercio regional</p>
                  <a href="https://comercialaysen.cl" target="_blank" class="btn btn-primary">www.comercialaysen.cl (2024)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stats Section -->
  <Stats />
</Layout>

<style>
  .portfolio-grid {
    margin: 0 -12px; /* Compensar el padding de los items */
  }
  
  .portfolio-item {
    padding: 0 12px; /* 24px entre columnas (12px a cada lado) */
    margin-bottom: 28px; /* 28px entre filas */
  }
  
  .portfolio-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px);
  }
  
  .portfolio-img {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(174, 248, 255, 0.9); /* Color #aef8ff con transparencia */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-card:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-content {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .portfolio-content h5 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .portfolio-content p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  
  .portfolio-link {
    color: #0066cc;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .portfolio-link:hover {
    color: #f0f0f0;
    text-decoration: none;
    transform: scale(1.05);
  }
</style>

